@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.WorkflowAdd {
    width: 240px;
    height: 320px;
    background-color: #444444;
    border-radius: 24px;
    position: relative;
    cursor: pointer;
}

.WorkflowCreate {
    transform: scale(2, 2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -10px;
    color: #EDEDED;
}

.WorkflowAdd:hover {
    box-shadow: 0px 0px 0px 2px #f10c23 inset;
}

.WorkflowPanel {
    border-radius: 12px;
    width: 95%;
    height: 80%;
    background-color: #444444;
}

.TopWorkflow {
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
    padding-top: 1%;
}

.NewWorkflowTitle {
    color: #EDEDED;
    font-family: Roboto;
    font-weight: 600;
    font-size: 22px;
    margin-left: 2.5%;
}

.ClosePanel {
    cursor: pointer;
    right: 6%;
    transform: scale(1.75, 1.75);
    position: absolute;
    color: #EDEDED;
}

.ClosePanel:hover {
    color: #BF1B2C;
}

.WorkflowContent {
    margin-left: auto;
    margin-right: auto;
    height: 84%;
    width: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.WorkflowBlock {
    height: 47.5%;
    padding-bottom: 2.5%;
}

.WorkflowBlockTitle {
    color: #EDEDED;
    font-family: Roboto;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

.ActionServices {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}

.WorkflowService {
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: #EDEDED;
    width: 20vw;
    height: 14vh;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 0px 3px black inset;
    cursor: pointer;
}

.WorkflowService:hover {
    box-shadow: 0px 0px 0px 2px #f10c23 inset;
}

.TextInPanel {
    width: 95%;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Poppins;
}

.WorkflowReaction {
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 24px;
    background-color: #EDEDED;
    width: 20vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 3px black inset;
    cursor: pointer;
}

.WorkflowReaction:hover {
    box-shadow: 0px 0px 0px 2px #f10c23 inset;
}

.WorkflowReactionBg {
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Poppins;
}

.TriggerDropDown {
    width: 20vw;
    height: 6vh;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    outline: none;
}

.WorkflowOptionalTitle {
    color: #EDEDED;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    margin-top: -1%;
}

.TriggerSubTitle {
    margin-top: 2%;
    color: #EDEDED;
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
}

.TriggerCondition {
    width: 100%;
    height: 6vh;
    display: flex;
}

.TriggerInputBackground {
    width: 20vw;
    height: 6vh;
    border-radius: 14px;
    background-color: white;
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TriggerInput {
    width: 90%;
    height: 5vh;
    border-radius: 14px;
    text-align: center;
    background-color: white;
    border: none;
    outline: none;
    color: black;
}

.ConditionDropDown {
    margin-left: 2.5%;
    width: 10vw;
    height: 6vh;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    outline: none;
}

.ConditionSubmitButton {
    cursor: pointer;
    margin-top: 2.5%;
    margin-right: 1%;
    border-radius: 12px;
    height: 4vh;
    width: 5.5vw;
    background-color: #BF1B2C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
    color: #EDEDED;
}

.LastConditionDropDown {
    width: 20vw;
    height: 6vh;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    outline: none;
}

.ConditionSeparator {
    margin-top: 1%;
    width: 100%;
    height: 6vh;
}

.WorkflowBlockReaction {
    margin-top: 15%;
    height: 47.5%;
    padding-bottom: 2.5%;
}

.Parameters {
    font-family: Roboto;
    font-weight: bold;
    color: #EDEDED;
    font-style: italic;
    margin-top: -1%;
    margin-bottom: 1%;
    margin-right: 1%;
    width: 20vw;
    height: 12vh;
    overflow: hidden;
}

.CreateWorkflow {
    width: 100%;
}

.CreateWorkflowButton {
    height: 4vh;
    width: 5.5vw;
    background-color: #BF1B2C;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    position: absolute;
    right: 5vw;
    cursor: pointer;
}

@media only screen and (max-height: 900px) {
    .WorkflowAdd {
        width: 180px;
        height: 280px;
    }

    .WorkflowAdd #icon {
        transform: scale(1.5, 1.5);
    }
}

@media only screen and (max-height: 700px) {
    .WorkflowAdd {
        width: 150px;
        height: 230px;
    }
}