@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.WorkflowAdd {
    width: 14vw;
    height: 33vh;
    background-color: #444444;
    border-radius: 24px;
    position: relative;
    cursor: pointer;
    margin-right: 1vw;
}

.workflow {
    width: 14vw;
    height: 33vh;
    background-color: #444444;
    border-radius: 24px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: 1vw;
}

.WorkflowCreate {
    transform: scale(2, 2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -10px;
    color: #EDEDED;
}

.WorkflowAdd:hover {
    box-shadow: 0px 0px 0px 2px #f10c23 inset;
}

.WorkflowPanel {
    border-radius: 12px;
    width: 95%;
    height: 80%;
    background-color: #444444;
}

.TopWorkflow {
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
    padding-top: 1%;
}

.NewWorkflowTitle {
    color: #EDEDED;
    font-family: Roboto;
    font-weight: 600;
    font-size: 22px;
    margin-left: 2.5%;
}

.ClosePanel {
    cursor: pointer;
    right: 6%;
    transform: scale(1.75, 1.75);
    position: absolute;
    color: #EDEDED;
}

.ClosePanel:hover {
    color: #BF1B2C;
}

.WorkflowContent {
    margin-left: auto;
    margin-right: auto;
    height: 82.5%;
    width: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.WorkflowInformations {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    font-size: 20px;
}

.WorkflowBlockTrigger {
    height: 27.5%;
    padding-bottom: 2.5%;
}

.WorkflowBlock {
    height: 47.5%;
    padding-bottom: 2.5%;
}

.WorkflowBlockTitle {
    color: #EDEDED;
    font-family: Roboto;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

.ActionServices {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}

.WorkflowService {
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: #EDEDED;
    width: 20vw;
    height: 14vh;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 0px 3px black inset;
    cursor: pointer;
}

.WorkflowService:hover {
    box-shadow: 0px 0px 0px 2px #f10c23 inset;
}

.TextInPanel {
    width: 95%;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Poppins;
}

.WorkflowReaction {
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 24px;
    background-color: #EDEDED;
    width: 20vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 3px black inset;
    cursor: pointer;
}

.WorkflowReaction:hover {
    box-shadow: 0px 0px 0px 2px #f10c23 inset;
}

.WorkflowReactionBg {
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Poppins;
}

.TriggerDropDown {
    width: 20vw;
    height: 6vh;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    outline: none;
}

.WorkflowOptionalTitle {
    color: #EDEDED;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    margin-top: -1%;
}

.TriggerSubTitle {
    margin-top: 2%;
    color: #EDEDED;
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
}

.TriggerCondition {
    width: 100%;
    height: 6vh;
    display: flex;
}

.TriggerInputBackground {
    width: 20vw;
    height: 6vh;
    border-radius: 14px;
    background-color: white;
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TriggerInput {
    width: 90%;
    height: 5vh;
    border-radius: 14px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    border: none;
    outline: none;
    color: black;
}

.ConditionDropDown {
    margin-left: 2.5%;
    width: 10vw;
    height: 6vh;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    outline: none;
}

.ConditionSubmitButton {
    cursor: pointer;
    margin-top: 2.5%;
    margin-right: 1%;
    border-radius: 12px;
    height: 4vh;
    width: 5.5vw;
    background-color: #BF1B2C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
    color: #EDEDED;
}

.LastConditionDropDown {
    width: 20vw;
    height: 6vh;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    outline: none;
}

.ConditionSeparator {
    margin-top: 1%;
    width: 100%;
    height: 6vh;
}

.WorkflowBlockReaction {
    margin-top: 20vh;
    height: 47.5%;
    padding-bottom: 2.5%;
}

.Parameters {
    font-family: Roboto;
    font-weight: bold;
    color: #EDEDED;
    font-style: italic;
    margin-top: -1%;
    margin-bottom: 1%;
    margin-right: 1%;
    width: 20vw;
    height: 12vh;
}

.CreateWorkflow {
    width: 100%;
    display: flex;
    align-items: center;
}

.WorkflowError {
    color: #f10c23;
    font-family: Poppins;
    padding-left: 2.5%;
    font-style: italic;
    font-weight: bold;
}

.CreateWorkflowButton {
    height: 4.5vh;
    width: 5.5vw;
    background-color: #BF1B2C;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    position: absolute;
    right: 5.5vw;
    cursor: pointer;
}

@media only screen and (max-height: 900px) {
    .WorkflowAdd #icon {
        transform: scale(1.5, 1.5);
    }
}

.workflow__title {
    margin-top: 1vh;
    color: #EDEDED;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
}

.workflow__description {
    margin-top: -0.5vh;
    margin-left: 5%;
    color: #EDEDED;
    font-family: Poppins;
    font-size: 12px;
    border: 1px solid rgb(237, 237, 237, .5);
    width: 90%;
    height: 15%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.workflow__description__title {
    margin-top: -0.5vh;
    color: #EDEDED;
    font-family: Poppins;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    margin-left: 5%;
}

.workflow__services {
    width: 90%;
    margin-left: 5%;
    margin-top: 1vh;
    height: 35%;
    display: flex;
    align-items: center;
}

.workflow__services__content {
    width: 50%;
    height: 100%;
    color: #EDEDED;
    border-radius: 24px;
    font-family: Poppins;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workflow__services__content__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    margin-top: -1vh;
    border: 2px solid black;
    background-color: #EDEDED;
    border-radius: 12px;
}

.workflow__interactions {
    width: 100%;
    margin-top: 10%;
    margin-left: 5%;
}

.workflow__interactions_delete {
    width: 25%;
    float: right;
    transform: scale(1.25, 1.25);
    color: #EDEDED;
    cursor: pointer;
}

.workflow__interactions_delete:hover {
    color: #f10c23;
}

@media only screen and (max-width: 1500px) {
    .ClosePanel {
        transform: scale(1.5, 1.5);
    }

    .NewWorkflowTitle {
        font-size: 20px;
    }

    .WorkflowInformations {
        font-size: 18px;
    }

    .WorkflowBlockTitle {
        font-size: 18px;
    }

    .TextInPanel {
        font-size: 12px;
    }

    .TriggerInput {
        font-size: 12px;
    }

    .TriggerDropDown {
        font-size: 14px;
    }

    .ConditionDropDown {
        font-size: 14px;
    }

    .LastConditionDropDown {
        font-size: 14px;
    }

    .CreateWorkflowButton {
        width: 9vw;
    }

    .ConditionSubmitButton {
        width: 6vw;
    }

    .ConditionSubmitButton {
        font-size: 14px;
        width: 9vw;
    }

    .NewWorkflowTitle {
        font-size: 20px;
    }

    .WorkflowAdd {
        width: 20vw;
    }

    .workflow {
        width: 20vw;
    }

    .workflow__services__content__logo {
        width: 6vw;
    }
}

@media only screen and (max-width: 900px) {
    .CreateWorkflowButton {
        width: 12vw;
    }

    .ConditionSubmitButton {
        width: 12vw;
    }

    .WorkflowService {
        width: 35vw;
        height: 12vh;
    }

    .WorkflowAdd {
        width: 30vw;
    }

    .workflow {
        width: 30vw;
    }

    .workflow__title {
        font-size: 14px;
    }

    .workflow__description__title {
        font-size: 12px;
    }

    .workflow__description {
        font-size: 10px;
    }

    .workflow__services__content {
        font-size: 12px;
    }

    .workflow__services__content__logo {
        width: 10vw;
    }

    .workflow__interactions {
        margin-top: 5%;
    }

    .workflow__interactions_delete {
        transform: scale(0.95, 0.95);
    }
}

@media only screen and (max-width: 700px) {
    .CreateWorkflowButton {
        width: 16vw;
    }
    
    .ConditionDropDown {
        width: 18vw;
    }

    .TriggerDropDown {
        width: 28vw;
    }

    .ConditionSubmitButton {
        width: 16vw;
    }

    .WorkflowAdd {
        width: 34vw;
    }

    .workflow {
        width: 34vw;
    }

    .workflow__services__content__logo {
        width: 14vw;
    }
}

@media only screen and (max-width: 500px) {
    .CreateWorkflowButton {
        width: 20vw;
    }

    .ConditionSubmitButton {
        width: 20vw;
        font-size: 12px;
    }

    .LastConditionDropDown {
        width: 34vw;
    }

    .NewWorkflowTitle {
        font-size: 18px;
    }

    .WorkflowAdd {
        width: 40vw;
    }

    .workflow {
        width: 40vw;
    }
}

@media only screen and (max-width: 1500px) {
    .ClosePanel {
        transform: scale(1.5, 1.5);
    }

    .NewWorkflowTitle {
        font-size: 20px;
    }

    .WorkflowInformations {
        font-size: 18px;
    }
    WorkflowService
    .WorkflowBlockTitle {
        font-size: 18px;
    }

    .TextInPanel {
        font-size: 12px;
    }

    .TriggerInput {
        font-size: 12px;
    }

    .TriggerDropDown {
        font-size: 14px;
    }

    .ConditionDropDown {
        font-size: 14px;
    }

    .LastConditionDropDown {
        font-size: 14px;
    }

    .CreateWorkflowButton {
        width: 9vw;
    }

    .ConditionSubmitButton {
        width: 6vw;
    }

    .ConditionSubmitButton {
        font-size: 14px;
        width: 9vw;
    }

    .NewWorkflowTitle {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .CreateWorkflowButton {
        width: 12vw;
    }

    .ConditionSubmitButton {
        width: 12vw;
    }

    .WorkflowService {
        width: 35vw;
        height: 12vh;
    }
}

@media only screen and (max-width: 700px) {
    .CreateWorkflowButton {
        width: 16vw;
    }
    
    .ConditionDropDown {
        width: 18vw;
    }

    .TriggerDropDown {
        width: 28vw;
    }

    .ConditionSubmitButton {
        width: 16vw;
    }
}

@media only screen and (max-width: 500px) {
    .CreateWorkflowButton {
        width: 20vw;
    }

    .ConditionSubmitButton {
        width: 20vw;
        font-size: 12px;
    }

    .LastConditionDropDown {
        width: 34vw;
    }

    .NewWorkflowTitle {
        font-size: 18px;
    }
}