.Services {
    width: 100%;
    height: 34vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.SingleService {
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: #EDEDED;
    width: 20vw;
    height: 14vh;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    cursor: pointer;
}

.ServiceBgLogo {
    display: flex;
    align-items: center;
    height: 77.5%;
}

.ServiceBg {
    display: flex;
    justify-content: center;
}

.ServiceLogo {
    margin-top: 1%;
    width: 50%;
    height: 50%;
}

.ServiceStateTextBg {
    width: 100%;
    height: 22.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServiceStateText {
    color: #EDEDED;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
}

::-webkit-scrollbar {
    height: 0.5vh;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
}
 
::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 12px;
}

@media only screen and (max-width: 750px) {
    .SingleService {
        margin-top: 0.5%;
        margin-right: 1.5%;
        height: 10vh;
        width: 40vw;
    }
}

@media only screen and (max-height: 900px) {
    .Services {
        height: 35vh;
    }

    .ServiceStateText {
        font-size: 14px;
    }
}

@media only screen and (max-height: 800px) {
    .Services {
        height: 25vh;
    }
}